@model _4bet.Models.FootballMatch
@{
    ViewBag.Title = "New match";
}

<h2>Add a new match</h2>

@using (Html.BeginForm("New", "Match", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.Label("championshipId", "Championship:")
    <br />
    <select class="form-control" name="championshipId">
        @foreach (var championship in ViewBag.Championships)
        {
            <option value="@championship.ChampionshipId">
                @championship.ChampionshipName
            </option>
        }
    </select>
    <br />
    @Html.Label("resolveTime", "Date and time")
    <br />
    <input class="form-control" type="datetime-local" name="resolveTime" />
    <br />
    <br />
    <button class="btn btn-primary" type="submit">Next step</button>
}


